<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <nav class="container">
      <ul class="nav">
        <li><a href="{{ site.url }}/"><i class="icon-home"></i> home</a></li>
        {% if page.nav == "posts"%}
        <li class="active"><a href="{{ site.url }}/posts.html"><i class="icon-pencil"></i> posts</a></li>
        {% else %}
        <li><a href="{{ site.url }}/posts.html"><i class="icon-pencil"></i> posts</a></li>
        {% endif %}
        <li><a href="https://github.com/r42"><i class="icon-github"></i> projects</a></li>
        {% if page.nav == "about" %}
        <li class="active"><a href="{{ site.url }}/about.html"><i class="icon-user"></i> about</a></li>
        {% else %}
        <li><a href="{{ site.url }}/about.html"><i class="icon-user"></i> about</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>

