a { color: #c92c2c; text-decoration: none; display: inline-block; }
a:hover { color: #fff; background-color: #c92c2c; }

section { padding: 1em 0; }
h1, h2 { color: #c92c2c; }

.container { max-width: 50em; }

.tablet { visibility: hidden; }
.desktop { visibility: hidden; }

.logo { overflow: hidden; position:relative; display: inline-block; }
.logo span { float: left; height: 2em; text-align: center; line-height: 2em; }
.logo:hover span { color: white; }

.logo .left { color: #c92c2c; }
.logo .right { color: #774f38; }

.main-header h1 {  margin: 0; }
.main-header .container { position: relative; }
.main-header .container .teaser { position: absolute; top: 1em; right: 1em; width: 15em; }
.main-header .container .teaser p { margin: 0; text-align: right; }

.post { border-top: 1px solid #ececec; }
.post:first-child { border-top: none; }
.post i { visibility: hidden; }
.post a:hover i { visibility: visible; }

.person { width: 10%; padding: 0; }
.person img { width: 100%; }

.main-footer .container { border-top: 1px solid #ececec; }
.main-footer .container p { margin: 0; }